.footer{
    background-color: #1b2330;
    width: 100%;
    bottom: 0;
    clear: both;
    font-size: 14px;
    color: #d7d7d7;
    font-family: Montserrat;
    padding: 15px;

}
.footer-sub{
    display: flex;
    min-width: 1000px;
    max-width: 1320px;
    margin: 0px auto;
    padding: 18px;


}
.footer-Left{
    display: flex;
    max-width: 950px;
}
.footer-Left>div{
    text-align: left;
    margin-right: 60px;
}
.footer-Left>div>ul>li{
    list-style-type: none;
    margin-top: 14px;
}
.footer-Left>div>ul>p{
    color: #797979;
    font-weight: 700;
}
.footer-Left>div>ul>li>a{
    text-decoration: none;
    color: #d7d7d7;
    
}
.footer-Left>div>ul>li>a:hover{
       color: #ffff;;
    
}
.footer-Right{
     width: 335px;
     margin-top: 20px;
     margin-left: 20px;
}
.footer-right-details{
    min-height: 25px;
    font-size: 16px;
    color: #d7d7d7;
}
