*{
   box-sizing: border-box;
}
.MainBanner{
    width: 100%;
    height: 303px;
    position: relative;
}
.BushireBanner{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: url("https://www.redbus.in/bushire/static/webv2/home/group-3%20(4).svg");
    background-size: 100%;
}

.BannerInner{
    width: 958px;     
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
.BannerElements{
    display: flex;
    flex-direction: column;
    background-image: url('https://www.redbus.in/bushire/static/webv2/home/group-4.svg');
}
.BannerHeading{
    font-size: 38px;
    font-weight: 700;
    color: #fff;
    margin-top: 32px;
}
.BannerSubHeadings{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-top: 32px;
}
.SvgElements{
    margin-bottom: 31px;
    width: 206px;
    height: 89px;
    animation:ease-in-out;
    
}
.SvgElements>img {
    animation: ride 5s infinite;
    transform: translate3D(0%,0,0);
    &__wheels {
      animation: bump 0.5s infinite;
    }
  }
  @keyframes ride {
    0% {
      transform: translate3D(-20%,0,0);
    }
    100% {
      transform: translate3D(100%,0,0);
    }
  }
  @keyframes bump {
    0% {
      transform: translate3D(0,0 ,0);
    }
    50% {
      transform: translate3D(0,1px ,0);
    }
    100% {
      transform: translate3D(0,0 ,0);
    }
  }

